.movie-card {
  background-color: #29333d;
  transition: transform 0.2s ease;
  position: relative; 
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-poster {
  position: relative;
}

.movie-poster img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-overlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  transform: translateX()-50%;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
  
  display: flex;
  justify-content: center;
}

.movie-card:hover .movie-overlay{
  opacity: 1;
  pointer-events: all;
}

.likes-btn,
.favourites-btn,
.watchlist-btn {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  font-size: 12px;
}

.likes-btn.active {
  background: pink;
  color: white;
}

.watchlist-btn.active {
  background: blueviolet;
}

.favourites-btn.active {
  background: yellow;
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.movie-info h2 {
  font-size: 16px;
  margin: 5px 0;
  color: #fff;
}

.movie-info p {
  font-size: 14px;
  color: #aaa;
}